{% extends "layout.html" %}
{% load static %}

{% block title %}Séries{% endblock title %}

{% block extraheads %}
    <script src="{% static 'javascript/card_modal.js' %}"></script>
    <script src="{% static 'javascript/tvshow_modal.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setupCardModalEventListener();
            setupTVShowModalEventListener();
        });
    </script>
{% endblock extraheads %}

{% block content %}
    <!-- Movie Sections -->
    <section class="pt-8 px-6 mt-12">
        <form method="GET">
            <div class="flex gap-2 my-4">
                <input type="text" id="query" name="query" placeholder="Rechercher" class="p-2 bg-gray-900 rounded-lg w-full" {% if query %}value="{{ query }}"{% endif %} autocomplete="off" />
                <button class="p-2 bg-gray-900 rounded-lg" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
            {% for tv_show in tvshows %}
                {% include "widgets/tv_show_card.html" %}
            {% empty %}
                <p>Aucune série disponible</p>
            {% endfor %}
        </div>
    </section>

    {% include "widgets/tv_show_modal.html" %}
{% endblock content %}
